body{
    background-color: aliceblue;
} 

#container{
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px gray;
}

#myInteraction{
    padding: 10px;
}

img {
    max-width: 100%;
    max-height: auto;
}

#mapImage {
    margin-top: 20px;
}

nav button {
    background-color: green;
    color: antiquewhite;
    font-size: 16px;
    padding: 10px;
}

#knopNoord, #knopZuid {
    display: block;
    width: 300px;
}

#knopWest, #knopOost{
    display: inline-block;
    width: 150px;
}